/* --------------------Beginning of CSS Reset-------------------------- */

html,
body,
div,
span,
p,
img,
ul,
li,
aside,
footer,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

aside,
footer,
nav {
  display: block;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* ---------------------------End of CSS Reset----------------------------- */

/* ---------------------------Beginning of BOXes section-------------------- */
*,
*::before,
*::after {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: block;
  margin: 0 auto;
  min-width: 1010px;
  max-width: 1440px;
}

main {
  position: relative;
  display: block;
  height: 635px;
  border: red 1px solid;
}

nav {
  margin: 80px auto;
  overflow: hidden;
  display: block;
  width: 1000px;
  padding-left: 15px;
  border: red 1px solid;
}

.nav_item {
  position: relative;
  float: left;
  height: 40px;
  width: 105px;
  border: red 1px solid;
  background-color: yellow;
}

.nav_search {
  position: relative;
  float: left;
  height: 40px;
  width: 140px;
  border: red 1px solid;
  background-color: red;
}

main a {
  position: relative;
  top: 50%;
  display: block;
  border: red 1px solid;

  text-align: center;
}

.text {
  display: block;
  height: 220px;
  border: red 1px solid;
}

.play_container {
  display: block;
  height: 56px;
  width: 980px;
  border: red 1px solid;
  background: black;
}

aside {
  display: flex;
  height: 200px;
  border: red 1px solid;
}

.four {
  flex: 4;
  border: red 1px solid;
}

footer {
  overflow: hidden;
  display: block;
  width: 1010px;
  margin: 0 auto;
  border: red 1px solid;
}

.left {
  float: left;
  margin: 20px;
  display: block;
  border: red 1px solid;
}

.right {
  float: right;
  margin: 20px;
  display: block;
  border: red 1px solid;
}

li {
  display: block;
  border: green 1px solid;
}

ul {
  display: block;
  border: green 1px solid;
}

/* ---------------------------End of BOXes section-------------------- */

.text a {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}








.nav_item svg {
  position: relative;
  transform: translateY(10%);
  left: -25%;
  width: 90px;
  height: 40px;
}

.play_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.play_container img:hover {
  object-position: 0 100%;
}

.promos img {
  object-fit: cover;
}
